.idea_modules/
*.iml
*.ipr
*.iws

.idea/*
!.idea/icon.png

**/out/
**/build/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

*.class
*.jar
*.war
*.ear
*.zip

hs_err_pid*

**/.gradle/
.sandbox/

/gen/

.DS_Store

!gradle/wrapper/gradle-wrapper.jar
