<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Plugin" type="#org.jetbrains.idea.devkit.run.PluginConfigurationType" factoryName="Plugin">
    <module name="minecraft-dev-intellij" />
    <option name="VM_PARAMETERS" value="-Xmx512m -Xms256m -XX:MaxPermSize=250m -ea" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <log_file path="$USER_HOME$/.IntelliJIdea2016.1/system/plugins-sandbox/system/log/idea.log" checked="false" skipped="true" show_all="false" alias="IDEA LOG" />
    <RunnerSettings RunnerId="Profile ">
      <option name="myExternalizedOptions" value="force-bitness=64&#10;additional-options2=onexit\=snapshot" />
    </RunnerSettings>
    <method>
      <option name="ToolBeforeRunTask" enabled="true" actionId="Tool_External Tools_Delete" />
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>